@import "variables";
@import "classes";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'DM Serif Display', serif;
    font-size: 4.4rem;
    font-weight: 400;
    line-height: 4rem;
}

body {
    font-family: 'Karla', sans-serif;
    background: #f2f2f2;
}

.header {
    padding: 1.2rem 0;
    background-color: $VeryLightGray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_nav {
        display: flex;
        align-items: center;
        gap: 2.15rem;

        @media (max-width: $breakpoint-medium) {
            display: none;
        }

        li {
            list-style: none;
            text-transform: uppercase;
            font-size: 12.7px;
            font-weight: 700;
            opacity: 0.5;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .btn {
            background: transparent;
            width: 9.0625rem;
            height: 2.5rem;
            border: 2px solid $VeryDarkViolet;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
                background: $VeryDarkViolet;
                cursor: pointer;
                color: $VeryLightGray;
            }
        }
    }

    .hamburguer {
        display: none;
        height: 2rem;
        width: 2rem;

        @media (max-width: $breakpoint-medium) {
            display: block;
        }

        .closeicon {
            display: none;
        }
    }

    .hamburguer.active {
        .hamburguericon {
            display: none;
        }

        .closeicon {
            display: block;
        }
    }


}

.header_nav.active {
    @media (max-width: $breakpoint-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.15rem;
        background-color: $VeryDarkViolet;

        position: absolute;
        top: 4.3rem;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 4rem 1.2rem;

        &::before {
            content: url(../../images/bg-pattern-mobile-nav.svg);
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 10rem;
        }
    }

    li {
        color: $VeryLightGray;
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 1;
    }

    .btn {
        background: transparent;
        width: 9.0625rem;
        height: 3.5rem;
        border: 2px solid $VeryLightGray;
        text-transform: uppercase;
        font-weight: 700;
        color: $VeryLightGray;
        width: 100%;

        font-size: 1.5rem;
        font-weight: 300;
    }
}

.image-hero-movil {
    display: none;

    @media (max-width: $breakpoint-small) {
        display: block;
        width: 100%;
    }
}

.hero {
    display: flex;
    gap: 2.1875rem;
    padding: 6.625rem 0rem;
    position: relative;
    
    background: linear-gradient(0deg, ($VeryLightGray) 30%, ($DarkViolet) 30%);
    
    &::before{
        content: url(../../images/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        left: 0;
        bottom: 0;

        @media (max-width: $breakpoint-medium) {
            content: url(../../images/bg-pattern-intro-left-mobile.svg);
            top: 0;
        }
    }

    &::after{
        content: url(../../images/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        right:0;
        top: 0;

        @media (max-width: $breakpoint-medium) {
            content: url(../../images/bg-pattern-intro-right-mobile.svg);
            right:0;
            bottom: 0;
            transform: translateY(10rem);
        }
    }

    @media (max-width: $breakpoint-medium) {
        background: $DarkViolet;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    &_info {
        display: flex;
        flex-direction: column;
        color: $VeryLightGray;

        @media (max-width: $breakpoint-medium) {
            text-align: center;
            align-items: center;
        }

        &_line {
            background: $VeryLightGray;
            height: 1px;
            width: 9.3rem;
            margin-bottom: 4.05rem;

            @media (max-width: $breakpoint-medium) {
                display: none;
            }
        }

        h1 {
            font-size: 4.4rem;
            font-weight: 400;
            line-height: 4rem;
            margin-bottom: 1.75rem;

            @media (max-width: $breakpoint-medium) {
                font-size: 3.5rem;
            }

        }

        p {
            line-height: 1.6rem;
            margin-bottom: 2rem;
        }

        .btn {
            background: transparent;
            width: 9.0625rem;
            height: 2.5rem;
            border: 2px solid $VeryLightGray;
            text-transform: uppercase;
            font-weight: 700;
            color: $VeryLightGray;

            &:hover {
                background: $VeryLightGray;
                cursor: pointer;
                color: $VeryDarkViolet;
            }
        }
    }

    &_image {
        @media (max-width: $breakpoint-small) {
            display: none;
        }
    }
}

.weredifferent {
    padding: 2.5rem 0rem 9.9rem 0rem;
    background-color: $VeryLightGray;

    @media (max-width: $breakpoint-medium) {
        align-items: center;
        text-align: center;
    }
    .line{
        background-color: $VeryDarkViolet !important;
    }

    h1 {
        margin-bottom: 5.8rem;

        @media (max-width: $breakpoint-small) {
            font-size: 3.5rem;
        }
    }

    .grid {
        display: flex;
        gap: 1.5rem;

        @media (max-width: $breakpoint-medium) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
        }

        h2 {
            font-size: 1.7rem;
            margin-top: 1rem;
        }

        p {
            line-height: 1.7rem;
        }
    }
}

.findout {
    background-color: $VeryLightGray;
    padding-bottom: 9.4375rem;
    

    &_bg {
        background: $DarkViolet;
        padding: 4.25rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: url(../../images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position-x: right;

        @media (max-width: $breakpoint-medium) {
            flex-direction: column;
            text-align: center;
            gap: 3rem;
            padding: 4.25rem 2.9375rem;

            background-image: url(../../images/bg-pattern-how-we-work-mobile.svg);
        }

        h1 {
            font-size: 3.4rem;
            margin: 0;
            line-height: 3.5rem;
            color: $VeryLightGray;

            @media (max-width: $breakpoint-medium) {
                font-size: 2.7rem;
            }
        }

        .btn {
            background: transparent;
            width: 10rem;
            height: 2.5rem;
            border: 2px solid $VeryLightGray;
            text-transform: uppercase;
            font-weight: 700;
            color: $VeryLightGray;

            &:hover {
                background: $VeryLightGray;
                cursor: pointer;
                color: $VeryDarkViolet;
            }
        }
    }
}

.footer{
   
    padding: 4rem 0rem 0rem 0rem;
    background-image: url(../../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;

    &_header {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $DarkGrayishViolet;
        padding-bottom: 2.1rem;

        @media (max-width: $breakpoint-medium) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        &_redes{
            display: flex;
            gap: 1rem;

           img{
                &:hover{
                    cursor: pointer;
                    filter: $DarkVioletFilter;
                }
           }
        }
    }

    &_grid {
        display: flex;
        gap: 11rem;
        margin-top: 2rem;

        @media (max-width: $breakpoint-medium) {
            flex-direction: column;
            text-align: center;
            gap: 5rem;
        }

        div {

            h3,
            h4 {
                font-family: 'Karla', sans-serif;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;

            }

            h3 {
                line-height: 2.8rem;
                margin-bottom: 1rem;
                color: $DarkGrayishViolet;
            }

            h4 {
                line-height: 1.95rem;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}


// css general

.line {
    // background: $VeryLightGray;
    background: $VeryLightGray;
    height: 1px;
    width: 9.3rem;
    margin-bottom: 4.05rem;

    @media (max-width: $breakpoint-medium) {
        margin: 0 auto;
        margin-bottom: 4.05rem;
    }

}


.attribution{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 11px;
    text-align: center;

    a{
        color: hsl(228, 45%, 44%);
    }
}